/* Allgemeine Layout-Einstellungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E3E6E6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styling */
header {
    background-color: #252E3D;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}

/* Main Layout */
main {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
}

/* Linker Bereich */
#left-section {
    flex: 1;
    background-color: white;
    color: #252E3D;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#productOverview-container {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-image img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

#product-info {
    text-align: center;
}

#quantity-controls {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-btn {
    background-color: #F8C171;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
}

.quantity-btn:hover {
    background-color: #D3A96A;
}

.quantity-display {
    font-size: 1.5rem;
}

/*Accessibility Buttons in left section*/
#accessibility-controls {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 10px;
    margin-top: 20px;
}

/* CSS */
.accessibility-button {
    background-color: #F18805;
    border-radius: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inherit;
    position: relative;
    text-align: center;
    padding: 20px;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.accessibility-button:hover {
    background-color: #F39005;
    transform: translateY(-2px);
}

.accessibility-button-image {
    max-width: 75px;
    max-height: 75px;
    filter: invert();
}

/* Rechter Bereich */
#right-section {
    flex: 2;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#item-list {
    background-color: #E3E6E6;
    height: 75%;
    margin-bottom: 20px;
    border-radius: 8px;
}

#price-info {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
    margin-bottom: 20px;
}

.price-detail {
    grid-column: 3;
    height: 50px;
    background-color: grey;
    border-radius: 8px;
}

/* Bezahl-Button */
#payment-button{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 100%;
}


.pay-btn {
    background-color: #FBDC3C;
    color: #252E3D;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.pay-btn:hover {
    transform: translateY(-2px);
}

.pay-btn:hover {
    background-color: #F0CD20;
}

/* Footer Styling */
footer {
    background-color: #252E3D;
    height: 3 rem;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}