/* Allgemeine Layout-Einstellungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E3E6E6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100%;
    list-style: none;
}


/* Header Styling */
header {
    background-color: #252E3D;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}


/* Main Layout */
main {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
}


/* Beginn-Popup Overlay */
#start-popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Dunkler Hintergrund */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#start-popup .popup-content {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 80%;
    max-width: 80%;
    height: 80%;
    max-width: 80%;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



/* Linker Bereich */
#left-section {
    flex: 1;
    background-color: white;
    color: #252E3D;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#item-preview-image {
    min-width: 500px;
    min-height: 500px;
}

#productOverview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-image img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

#product-info {
    text-align: center;
    color: #252E3D;
    font-size: 1.8rem;
}

#quantity-controls {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-btn {
    background-color: #FBDC3C;
    border-radius: 10px;
    width: 100px;
    height: 60px;
    color: #252E3D;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color .2s ease-in-out;
}

.quantity-btn:hover {
    background-color: #F0CD20;
}

.quantity-display {
    font-size: 2rem;
    margin: 0px 50px;
}

#quantity-button-image {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}


/* Accessibility Buttons */
#accessibility-controls {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-self: flex-end;
}

.accessibility-button {
    background-color: #FBDC3C;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    transition: background-color .2s, transform .2s cubic-bezier(.22, .61, .36, 1);
}

.accessibility-button:hover {
    background-color: #F0CD20;
    transform: translateY(-2px);
}

.accessibility-button-image {
    max-width: 75px;
    max-height: 75px;
    fill: #252E3D;
}


/* Rechter Bereich */
#right-section {
    flex: 2;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#item-list {
    display: flex;
    flex-direction: column;
    background-color: #E3E6E6;
    margin-bottom: 20px;
    border-radius: 8px;
    max-height: 650px;
    min-height: 75%;
}

#price-info {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    margin-bottom: 20px;
}

.price-detail {
    display: grid;
    grid-column: auto auto;
    width: 60%;
    font-size: 20px;
    grid-column: 3;
    height: 30px;
    border-radius: 8px;
    justify-self: right;
    color: #252E3D;
}

.price-detail-label {
    grid-column: 1;
}

.price-detail-amount {
    grid-column: 2;
    justify-self: right;
}

#price-detail-divider {
    grid-column: 3;
    justify-self: right;
    height: 2px;
    width: 60%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#price-detail-subtotal,
#price-detail-subtotal-label {
    font-size: 1.6rem;
}

#price-detail-tax,
#price-detail-tax-label {
    font-size: 1.4rem;
}

#price-detail-total,
#price-detail-total-label {
    font-size: 1.8rem;
}

#barcode-input-container {
    padding: 20px 20px 10px 20px;
}

/* Right section - Barcode List */
#barcode-input {
    font-size: 14px;
    border-radius: 10px;
    line-height: 1.5;
    padding: 5px 10px;
    width: 100%;
    border: 2px solid #f0cd204c;
    color: black;
    background: #ffffff;
    height: 36px;
}

#barcode-input:hover {
    border-color: #f0cd204c;
}

#barcode-input:focus {
    border-color: #FBDC3C;
    background: #fff;
}

#barcode-list-container{
    overflow-y: auto;
}


/* Stil für das Listenelement */
#barcode-list li {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.2fr 1fr 2fr 0.5fr 0.5fr 0.5fr 0.2fr;
    align-items: center;
    padding: 15px;
    margin: 10px 20px;
    background-color: white;
    border-radius: 10px;
}

.selected {
    border: solid 4px #F0CD20;
}


/* Bildstil */
.barcode-list-productImage {
    max-width: 70px;
    height: auto;
    margin-right: 15px;
}



/* Stil für die Produktinformationen */
.barcode-list-productName,
.barcode-list-productSinglePrice,
.barcode-list-productQuantity,
.barcode-list-productTotalPrice {
    margin: 0 10px;
    text-align: center;
}

/* Zusätzlicher Stil für Preise */
.barcode-list-productSinglePrice,
.barcode-list-productTotalPrice {
    font-weight: bold;
}


/* Bezahl-Button */
#payment-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.pay-btn {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #FBDC3C;
    color: #252E3D;
    font-weight: 1000;
    border: none;
    padding: 15px 0px;
    font-size: 1.8rem;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    vertical-align: middle;
    transition: background-color .2s, transform .2s cubic-bezier(.22, .61, .36, 1);
}

.pay-btn:hover {
    background-color: #F0CD20;
    transform: translateY(-2px);
}

#pay-btn-label {
    justify-self: left;
    align-self: center;
}

#pay-btn-img {
    justify-self: right;
    height: 50px;
    margin: 0 10px;
    padding: 0;
    fill: #252E3D;
}

/* Delete Button from item list*/
.delete-btn {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.delete-btn:hover,
.delete-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.delete-btn:active {
  opacity: .5;
}

footer {
    background-color: #252E3D;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}





/* Pop-up Overlay */
.popup-overlay {
    display: none;
    /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Slightly dim the background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Pop-up Content */
.popup-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.popup-content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Close Button Styling */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.close-btn:hover {
    color: #000;
}

.payment-methods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Falls der Platz nicht ausreicht, brechen die Elemente um */
    padding: 0;
    margin: 0;
    list-style: none;
}

.payment-methods li {
    margin: 10px 0;
    text-align: left;
}

.payment-methods input {
    margin-right: 10px;
}

.proceed-btn {
    background-color: #CCCCCC;
    color: #252E3D;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: not-allowed;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.proceed-btn.active {
    cursor: pointer;
    background-color: #FBDC3C;
}

.proceed-btn:hover.active {
    transform: translateY(-2px);
    background-color: #F0CD20;
}

/* Kartenspezifisches Styling */
.card-option {
    display: flex;
    flex-direction: column;
    /* Icon und Info übereinander */
    align-items: center;
    justify-content: center;
    width: 170px;
    /* Feste Breite */
    height: 170px;
    /* Feste Höhe für quadratische Form */
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-sizing: border-box;
}

.card-option:hover {
    border-color: #999;
}

.payment-icon {
    max-width: 80%;
    margin-bottom: 10px;
}

.payment-info {
    text-align: center;
    font-size: 1.3rem;
}

/* Stil für ausgewählten Radio-Button */
input[type="radio"]:checked+.card-option {
    border-color: #FBDC3C;
    /* Hervorhebung der ausgewählten Option */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
    /* Visueller Fokus */
}

/* Verstecke den eigentlichen Radio-Button */
input[type="radio"] {
    display: none;
}