/* Allgemeine Layout-Einstellungen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #252E3D;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E3E6E6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100%;
}


/* Header Styling */
header {
    background-color: #252E3D;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}


/* Main Layout */
main {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
}


/* Linker Bereich */
#left-section {
    flex: 1;
    background-color: white;
    color: #252E3D;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#item-preview-image {
    width: 500px;
    height: 500px;
}

#productOverview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-image img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

#product-info {
    text-align: center;
}

#quantity-controls {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-btn {
    background-color: #FBDC3C;
    border-radius: 10px;
    width: 70px;
    color: #252E3D;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color .2s ease-in-out;
}

.quantity-btn:hover {
    background-color: #F0CD20;
}

.quantity-display {
    font-size: 1.5rem;
}


/* Accessibility Buttons */
#accessibility-controls {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-self: flex-end;
}

.accessibility-button {
    background-color: #FBDC3C;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    transition: background-color .2s, transform .2s cubic-bezier(.22, .61, .36, 1);
}

.accessibility-button:hover {
    background-color: #F0CD20;
    transform: translateY(-2px);
}

.accessibility-button-image {
    max-width: 75px;
    max-height: 75px;
    fill: #252E3D;
}


/* Rechter Bereich */
#right-section {
    flex: 2;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#item-list {
    background-color: #E3E6E6;
    height: 75%;
    margin-bottom: 20px;
    border-radius: 8px;
}

#price-info {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    margin-bottom: 20px;
}

.price-detail {
    display: grid;
    grid-column: auto auto;
    width: 60%;
    font-size: 20px;
    grid-column: 3;
    height: 30px;
    border-radius: 8px;
    justify-self: right;
}

.price-detail-label {
    grid-column: 1;
}

.price-detail-amount {
    grid-column: 2;
    justify-self: right;
}

#price-detail-divider {
    grid-column: 3;
    justify-self: right;
    height: 2px;
    width: 60%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#price-detail-subtotal, #price-detail-subtotal-label  {
    font-size: large;
}
#price-detail-tax, #price-detail-tax-label  {
    font-size: medium;
}
#price-detail-total, #price-detail-total-label  {
    font-size: larger;
}

/* Bezahl-Button */
#payment-button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.pay-btn {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #FBDC3C;
    color: #252E3D;
    font-weight: 1000;
    border: none;
    /*padding: 15px 30px;*/
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    vertical-align: middle;
    transition: background-color .2s, transform .2s cubic-bezier(.22, .61, .36, 1);
}

.pay-btn:hover {
    background-color: #F0CD20;
    transform: translateY(-2px);
}

#pay-btn-label {
    justify-self: left;
    align-self: center;
}

#pay-btn-img {
    justify-self: right;
    height: 30px;
    margin: 10px;
    padding: 0;
    fill: #252E3D;
}

footer {
    background-color: #252E3D;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}