/* -------------------------------------------------------------------
   Specific Popup Styles - index.html
------------------------------------------------------------------- */
/* -------------------------------------------------------------------
   Start Popup
------------------------------------------------------------------- */
#start-popup {
    display: flex;
}

#start-popup-content {
    max-width: 85%;
    max-height: 85%;
    padding: 0;
}

#start-popup-image {
    width: 100%;
    border-radius: 20px;
    padding: 0;
}

/* -------------------------------------------------------------------
   Item Not Found Popup
------------------------------------------------------------------- */
#itemNotFound-popup {
    display: none;
}

#itemNotFound-popup-content {
    width: fit-content;
    height: 70%;
    padding: 0;
}

/* -------------------------------------------------------------------
   Cart Empty Popup
------------------------------------------------------------------- */
#cartEmpty-popup {
    display: none;
}

#cartEmpty-popup-content {
    width: fit-content;
    height: 70%;
    padding: 0;
}

/* -------------------------------------------------------------------
   Coupon Popup
------------------------------------------------------------------- */
#coupon-popup {
    display: none;
    align-items: center;
    justify-content: center;
} 

#coupon-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 30%;
    padding: 20px;
}

#coupon-popup-content p {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
}   

#coupon-input {
    font-size: 1.4rem;
    border-radius: 10px;
    line-height: 2;
    padding: 5px 10px;
    margin: 10px 0;
    width: 80%;
    border: 2px solid #f0cd204c;
    color: black;
    background: #ffffff;
    height: 36px;
    transition: border-color 0.2s;
    text-align: center;
}

#coupon-btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

#coupon-popup-content button {  
    width: 200px;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

#coupon-cancel-btn {
    background-color: #FF4742;
}

#coupon-apply-btn:hover {
    background-color: #F0CD20;
}

#coupon-cancel-btn:hover {
    background-color: #ff4842b4;
}

/* -------------------------------------------------------------------  
   Help and Info Popups
------------------------------------------------------------------- */
#info-popup {
    display: none;
}

#help-popup {
    display: none;
}   

#help-popup-content,
#info-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#help-popup-content {
    width: 40%;
    height: 70%;
    overflow-y: scroll;
    justify-content: flex-start;
}

#help-popup-close-btn,
#info-popup-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

#help-popup-content p {
    font-size: 1.2rem;
    margin: 10px 0;
}

#help-popup-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

/* -------------------------------------------------------------------
   Collapsible Help Sections
------------------------------------------------------------------- */
.collapsible-container {
    margin-bottom: 10px;
    width: 100%;
}

.collapsible {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.collapsible:hover {
    background-color: #ddd;
}

.collapsible.active {
    background-color: #ccc;
}

.collapsible-content {
    padding: 0 15px;
    display: none;
    overflow: hidden;
    background-color: #f9f9f9;
    border-left: 3px solid #ccc;
    margin-top: 5px;
    border-radius: 0 5px 5px 5px;
    text-align: left;
    transition: display 0.3s ease;
}

.collapsible-content li {
    margin: 10px;
}

/* Arrow indicator */
.collapsible::after {
    content: '\002B'; /* Plus sign */
    font-size: 1.2rem;
    float: right;
}

.collapsible.active::after {
    content: "\2212"; /* Minus sign */
}

/* -------------------------------------------------------------------
   Payment Popup
------------------------------------------------------------------- */
#payment-popup-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#payment-popup-content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#payment-summary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

.payment-summary-label,
.payment-summary-amount {
    margin: 5px 0;
}

.payment-summary-label {
    grid-column: 2;
    text-align: left;
    vertical-align: middle;
    font-size: 1.2rem;
    color: #333;
}

.payment-summary-amount {
    grid-column: 3;
    text-align: right;
    vertical-align: middle;
    font-size: 1.2rem;
}

#payment-popup-total {
    font-weight: bold;
    font-size: 1.2rem;
}

.payment-popup-methods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
}

.payment-popup-methods li {
    margin: 10px 0;
    text-align: left;
}

.payment-popup-methods input {
    margin-right: 10px;
}

.payment-popup-card-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-sizing: border-box;
}

.payment-popup-card-option:hover {
    border-color: #999;
}

.payment-popup-icon {
    max-width: 80%;
    margin-bottom: 10px;
}

.payment-popup-info {
    text-align: center;
    font-size: 1.3rem;
}

input[type="radio"]:checked + .payment-popup-card-option {
    border-color: #FBDC3C;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
}

input[type="radio"] {
    display: none;
}

#payment-popup-proceed-button {
    background-color: #CCCCCC;
    color: #252E3D;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: not-allowed;
    transition: all 0.2s cubic-bezier(.22, .61, .36, 1);
}

#payment-popup-proceed-button.active {
    cursor: pointer;
    background-color: #FBDC3C;
}

#payment-popup-proceed-button:hover.active {
    transform: translateY(-2px);
    background-color: #F0CD20;
}

/* -------------------------------------------------------------------  
   Admin Login Popup
------------------------------------------------------------------- */
#admin-login-popup {
    display: none;
}   

#admin-login-popup-content {
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#admin-login-popup-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #252E3D;
}   

#admin-login-popup-text {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #252E3D;
}

#admin-login-popup-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin: 20px 0;
}

#admin-login-popup-login-btn {
    background-color: #FBDC3C;
    border-radius: 10px;
    width: 100px;
    height: 60px;
    color: #252E3D;
    font-weight: 700;
    border: none;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out;
}

#admin-login-popup-login-btn:hover {
    background-color: #F0CD20;
}

.admin-login-popup-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

/* -------------------------------------------------------------------
   Animations
------------------------------------------------------------------- */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* -------------------------------------------------------------------
   Responsive Design
------------------------------------------------------------------- */
@media (max-width: 600px) {
    .popup-content {
        padding: 20px 25px;
        border-radius: 15px;
        max-width: 90%;
    }

    .payment-popup-card-option {
        width: 120px;
        height: 120px;
    }

    .payment-popup-icon {
        width: 50px;
        height: 50px;
    }

    .payment-summary p {
        font-size: 1rem;
    }

    .payment-popup-proceed-btn {
        padding: 10px;
        font-size: 1rem;
    }

    #coupon-popup-content {
        width: 80%;
    }

    #admin-login-popup-content {
        width: 80%;
    }
}

