/* -------------------------------------------------------------------
   Header Styling
------------------------------------------------------------------- */
#admin-login-container {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#admin-login-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 20px;
    transition: transform 0.2s cubic-bezier(.22, .61, .36, 1);
}

#admin-login-btn:hover {
    transform: scale(1.05);
}

#admin-login-btn-label {
    margin: 0 10px;
    font-size: 1rem;
    color: white;
}

#admin-login-btn-img {
    width: 30px;
    height: 30px;
    margin: 0;
}

/* -------------------------------------------------------------------
   Left Section
------------------------------------------------------------------- */
#left-section {
    flex: 1;
    background-color: white;
    color: #252E3D;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-height: 100%;
    max-width: 40vw;
}

#productOverview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-image img {
    max-height: 40vh;
    max-width: 40vh;
    margin-bottom: 20px;
    border-radius: 20px;
}

#product-info {
    text-align: center;
    color: #252E3D;
    font-size: 1.5rem;
}

#quantity-controls {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-btn {
    background-color: #FBDC3C;
    border-radius: 10px;
    width: 100px;
    height: 60px;
    color: #252E3D;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out;
}

.quantity-btn:hover {
    background-color: #F0CD20;
}

.quantity-display {
    font-size: 2rem;
    margin: 0 50px;
}

#quantity-button-image {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* -------------------------------------------------------------------
   Accessibility Controls
------------------------------------------------------------------- */
#accessibility-controls {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-self: flex-end;
}

.accessibility-button {
    background-color: #FBDC3C;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    transition: background-color 0.2s, transform 0.2s cubic-bezier(.22, .61, .36, 1);
}

.accessibility-button:hover {
    background-color: #F0CD20;
    transform: translateY(-2px);
}

.accessibility-button-image {
    max-width: 75px;
    max-height: 75px;
    fill: #252E3D;
}

/* -------------------------------------------------------------------
   Right Section
------------------------------------------------------------------- */
#right-section {
    flex: 2;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Adapts to the height of main */
    overflow: hidden; /* Prevents the entire area from becoming scrollable */
}

#item-list {
    flex-grow: 1; /* Utilizes the entire available space within the right section */
    display: flex;
    flex-direction: column;
    background-color: #E3E6E6;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden; /* No internal scrollbars for item-list */
}

#barcode-input-container {
    padding: 20px 20px 10px 20px;
}

#barcode-input {
    font-size: 14px;
    border-radius: 10px;
    line-height: 1.5;
    padding: 5px 10px;
    width: 100%;
    border: 2px solid #f0cd204c;
    color: black;
    background: #ffffff;
    height: 36px;
    transition: border-color 0.2s;
}

#barcode-input:hover {
    border-color: #f0cd204c;
}

#barcode-input:focus {
    border-color: #FBDC3C;
    background: #fff;
}

#barcode-list-container {
    flex-grow: 1; /* Utilizes the entire vertical space of the container */
    overflow-y: auto; /* Enables scrolling within the container */
    padding: 10px 20px; /* Optional: Padding for inner spacing */
}

#barcode-list {
    overflow-y: scroll;
}

#barcode-list li {
    scroll-snap-align: start;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.2fr 2fr 1fr 0.5fr 0.5fr 0.5fr 0.2fr;
    align-items: center;
    padding: 15px;
    margin: 10px 20px;
    background-color: white;
    border-radius: 10px;
}

.selected {
    border: solid 4px #F0CD20;
}

.barcode-list-productImage {
    max-width: 70px;
    height: 70px;
    margin-right: 15px;
    border-radius: 4px;
}

.barcode-list-productName,
.barcode-list-productSinglePrice,
.barcode-list-productQuantity,
.barcode-list-productTotalPrice {
    margin: 0 10px;
    text-align: center;
}

.barcode-list-productSinglePrice,
.barcode-list-productTotalPrice {
    font-weight: bold;
}

.barcode-list-productName {
    text-align: left;
}

.pay-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FBDC3C;
    color: #252E3D;
    font-weight: 1000;
    border: none;
    padding: 15px 0px;
    font-size: 1.8rem;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    vertical-align: middle;
    transition: background-color 0.2s, transform 0.2s cubic-bezier(.22, .61, .36, 1);
}

.pay-btn:hover {
    background-color: #F0CD20;
    transform: translateY(-2px);
}

#pay-btn-label {
    justify-self: left;
    align-self: center;
}

#pay-btn-img {
    justify-self: right;
    height: 50px;
    margin: 0 10px;
    padding: 0;
    fill: #252E3D;
}

.delete-btn {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    transition: background-color 0.2s, color 0.2s;
}

.delete-btn:hover,
.delete-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.delete-btn:active {
    opacity: 0.5;
}

/* -------------------------------------------------------------------
   Price Information
------------------------------------------------------------------- */
#price-info {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    margin-bottom: 20px;
}

/* -------------------------------------------------------------------
   Coupon Button
------------------------------------------------------------------- */
.coupon-button-container {
    grid-column: 1;
    grid-row: 1/5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: end; /* Aligns the button to the bottom of the grid cell */
}

.coupon-btn {
    background-color: #FBDC3C;
    border-radius: 10px;
    color: #252E3D;
    width: 300px;
    height: 80px;
    font-weight: 800;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.4rem;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon-btn:hover {
    background-color: #F0CD20;
    transform: translateY(-2px);
}

.coupon-btn:active {
    transform: translateY(0px);
}

#coupon-btn-img {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

#coupon-button-label {
    margin: 0;
    font-size: 1.4rem;
}

/* -------------------------------------------------------------------
   Price Details
------------------------------------------------------------------- */
.price-detail {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    font-size: 20px;
    grid-column: 3;
    height: 30px;
    border-radius: 10px;
    justify-self: right;
    color: #252E3D;
}

.price-detail-label {
    grid-column: 1;
}

.price-detail-amount {
    grid-column: 2;
    justify-self: right;
}

#price-detail-divider {
    grid-column: 3;
    justify-self: right;
    height: 2px;
    width: 110%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#price-detail-subtotal,
#price-detail-subtotal-label {
    font-size: 1.6rem;
}

#price-detail-tax,
#price-detail-tax-label {
    font-size: 1.4rem;
}

#price-detail-total,
#price-detail-total-label {
    font-size: 1.8rem;
}

/* -------------------------------------------------------------------
   Responsive Design    
------------------------------------------------------------------- */  
@media (max-width: 1500px) {
    /* size down accessibility controls and make them more compact, button size with image */
    #accessibility-controls {
        font-size: 0.8rem;
        gap: 5px;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }

    .accessibility-button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .accessibility-button-image {
        width: 35px;
        height: 35px;
    }

    /* size down product image, info, and quantity controls with button size and font size  and image size */
    #product-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #item-preview-image {
        width: 80%;
        height: 80%;
        max-width: 80%;
        max-height: 80%;
    }

    .quantity-btn {
        width: 50px;
        height: 50px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #quantity-button-image {
        width: 15px;
        height: 15px;
    }

    #product-info-itemName {
        font-size: 1.2rem;
    }

    #product-info-itemNumber {
        font-size: 1rem;
    }

    /* size down coupon button with image size and font size */
    #coupon-btn {
        width: 100px;
        height: 50px;
    }

    #coupon-btn-img {
        display: none;
    }   

    #coupon-button-label {
        font-size: 0.8rem;
    }

    #coupon-input {
        font-size: 0.8rem;
    }

    #coupon-apply-btn {
        font-size: 0.5rem;
        width: 50px;
        height: 50px;
    }

    #coupon-cancel-btn {
        font-size: 0.5rem;
        width: 50px;
        height: 50px;
    }

    #coupon-popup-content {
        width: 50%;
        height: 50%;
    }
}